<link rel="stylesheet" href="../css/header.css">

<section class="header">
    <img src="images/logo.jpg" id="logo">
    <a href="index.html" class="logo"></a>
    
 
    <nav class="navbar">
       <a href="index.html">home</a>
       <a href="about.html">about</a>
       <a href="places.html">Prediction</a>
       <a href="book.html">Book</a>
    </nav>
 
    <div id="menu-btn" class="fas fa-bars"></div>
 
 </section>