 <!-- swiper css link  -->
 <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
 <!-- font awesome cdn link  -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<link rel="stylesheet" href="../css/home.css">

<!-- home   -->

<section class="home">

    <div class="swiper home-slider">
 
       <div class="swiper-wrapper">
 
          <div class="swiper-slide slide" style="background:url(../img/home-slide-1.png) no-repeat">
             <div class="content">
                <span>explore, predict, connect</span>
                <h3>Connect with best doctors around</h3>
                <a href="places.html" class="btn">discover more</a>
             </div>
          </div>
 
          <div class="swiper-slide slide" style="background:url(../img/home-slide-2.jpg) no-repeat">
             <div class="content">
                <span>explore,pridict,connect</span>
                <h3>accurate prediction of health</h3>
                <a href="places.html" class="btn">discover more</a>
             </div>
          </div>
 
          <div class="swiper-slide slide" style="background:url(../img/home-slide-3.jpg) no-repeat">
             <div class="content">
                <span>explore, predict, connect</span>
                <h3>learn with us</h3>
                <a href="places.html" class="btn">discover more</a>
             </div>
          </div>
          
       </div>
 
       <div class="swiper-button-next"></div>
       <div class="swiper-button-prev"></div>
 
    </div>
 
 </section>
 
 
 <!-- services  -->
 
 <section class="services">
 
    <h1 class="heading-title"> our services </h1>
 
    <div class="box-container">
 
       <div class="box">
          <img src="images/icon-1.png" alt="">
          <h3>adventure</h3>
       </div>
 
       <div class="box">
          <img src="images/icon-2.png" alt="">
          <h3>tour guide</h3>
       </div>
 
       <div class="box">
          <img src="images/icon-3.png" alt="">
          <h3>trekking</h3>
       </div>
 
       <div class="box">
          <img src="images/icon-4.png" alt="">
          <h3>camp fire</h3>
       </div>
 
       <div class="box">
          <img src="images/icon-5.png" alt="">
          <h3>off road</h3>
       </div>
 
       <div class="box">
          <img src="images/icon-6.png" alt="">
          <h3>camping</h3>
       </div>
 
    </div>
 
 </section>
 
 
 
 <!-- home about  -->
 
 <section class="home-about">
 
    <div class="image">
       <img src="images/about-img.jpg" alt="">
    </div>
 
    <div class="content">
       <h3>about us</h3>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita et, recusandae nobis fugit modi quibusdam ea assumenda, nulla quisquam repellat rem aliquid sequi maxime sapiente autem ipsum? Nobis, provident voluptate?</p>
       <a href="about.html" class="btn">read more</a>
    </div>
 
 </section>
 
 
 
 <!-- home packages   -->
 
 <section class="home-places">
 
    <h1 class="heading-title"> Best Places TO See </h1>
 
    <div class="box-container">
 
       <div class="box">
          <div class="image">
             <img src="images/img-1.jpg" alt="">
          </div>
          <div class="content">
             <h3>Naini Lake</h3>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
             <a href="book.html" class="btn">book now</a>
          </div>
       </div>
 
       <div class="box">
          <div class="image">
             <img src="images/img-2.jpg" alt="">
          </div>
          <div class="content">
             <h3>Best Sun-set</h3>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
             <a href="book.html" class="btn">book now</a>
          </div>
       </div>
       
       <div class="box">
          <div class="image">
             <img src="images/img-3.jpg" alt="">
          </div>
          <div class="content">
             <h3>Himalayan view</h3>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
             <a href="book.html" class="btn">book now</a>
          </div>
       </div>
 
    </div>
 
    <div class="load-more"> <a href="places.html" class="btn">load more</a> </div>
 
 </section>
 
 
 
 <!-- home offer  -->
 
 <section class="home-offer">
    <div class="content">
       <h3>upto 25% off</h3>
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure tempora assumenda, debitis aliquid nesciunt maiores quas! Magni cumque quaerat saepe!</p>
       <a href="book.html" class="btn">book now</a>
    </div>
 </section>
 

 <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
 <script src="../js/home.js"></script>